<!DOCTYPE html>
<html>
    <head>
        <title>List of Blog Entries</title>
    </head>
    <body>
        <h1>List of Blog Entries</h1>
        <a href='/blog/create'>Create an entry here</a>
        <ul>
            {% if entries|length > 0 %}
                {% for entry in entries %}
                    <li>
                        <a href='/blog/{{entry.id}}'>
                            {{ entry.date|date('Y-m-d H:i') }}:
                            {{ entry.title }}    
                        </a>
                    </li>
                {% endfor %}
            {% else %}
                <h2>No blog entries created or found...</h2>
            {% endif %}
        </ul>
    </body>
</html>
